{% extends 'base.html' %}

{%block title %}Index{% endblock %}

{% block content%}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-4 text-center">Bienvenido a mi Proyecto Final PYTHON + DJANGO {{user.username}}</h1>
        <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem eum odit
            tempore
            similique vitae id
            quisquam debitis atque minus, numquam optio alias nulla, ea voluptatem laborum. Reprehenderit rerum
            asperiores eveniet?</p>
    </section>
</main>

{% endblock %}