{% extends 'base.html' %}

{%block title %}Index{% endblock %}

{% block content%}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-4 text-center">Bienvenido a mi Proyecto Final PYTHON + DJANGO {{user.username}}</h1>
        <p class="text-center">
            <hr>
            Integrante Ignacio Medici <br>
            Descripción del Proyecto: Tienda de ropa
            El proyecto se basa en un e-commerce con las operaciones basicas CRUD de los productos, categorias y
            usuarios.
            <br>
            <hr>
            El proyecto pude:
            <hr>
            * Registrar un usuario<br>
            * Iniciar sesión<br>
            * Ver perfil del usuario<br>
            * Modificar el usuario<br>
            * Borra el usuario<br>
            * Ver los productos publicados<br>
            <br>
            Si sos ADMIN<br>
            <hr>
            * Crear un producto<br>
            * Ver un producto<br>
            * Editar un producto<br>
            * Borrar un producto<br>
            * Listar los productos por categorias y en general<br>
            * Agregar productos a un carrito de compras<br>
            * Sacar productos del carrito<br>
            <hr>
            * Acerca de mi
        </p>
    </section>
</main>

{% endblock %}