{% extends 'base.html' %}

{% block title %}Detalle Producto{% endblock %}

{% load static %}
{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <div class="col-md-4 offset-md-4 mt-5">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% if error %}
                <div class="alert-danger text-center" role="alert">
                    <p class="alert">{{error}}</p>
                </div>
                {% endif %}
                {% if message %}
                <div class="alert-success text-center">
                    <p class="alert">{{message}}</p>
                </div>
                {% endif %}
                {{form.as_p}}
                <input type="submit" value="Crear Producto">
            </form>
        </div>
    </section>
</main>

{% endblock %}