{% extends 'base.html' %}

{% block title%}
Eliminar perfil
{% endblock %}

{% block content%}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form method="POST" class="card card-body">
                <h1 class="text-center mb-4">Eliminar Producto</h1>
                {% csrf_token %}
                <div class="mb-4">
                    <h4>¿Estas seguro que quieres eliminar el producto?</h4>
                </div>
                <button type="submit" class="btn btn-danger">Eliminar</button>
                <a class="btn btn-primary" href="{% url 'detail_product' product.id %}">Volver</a>
            </form>
        </div>
    </div>
</main>
{% endblock %}