{% extends 'base.html' %}

{% block title %}Detalle Producto{% endblock %}

{% block content %}

<main class="container py-5">
    <section class="card" style="width: 100%;">
        <div class="card-body text-center">
            <img src="{{product.image.url}}" alt="imagen" width="200" height="200">
            <h1 class="display-4 text-center">{{product.name}}</h1>
            <p class="text-center">{{product.descripcion}}</p>
            <p class="text-center">{{product.price}}</p>
            <p class="text-center">{{product.stock}}</p>
            <p class="text-center">{{product.category}}</p>
            <a class="btn btn-primary">Añadir al carrito</a>
            <a class="btn btn-warning" href="{% url 'update_product' product.id %}">Editar</a>
            <a class="btn btn-danger" href="{% url 'delete_product' product.id %}">Eliminar</a>
        </div>
    </section>
</main>

{% endblock %}