{% extends 'base.html' %}

{% block title %}Detalle Producto{% endblock %}

{% block content %}


<div class="container">
    <div class="card m-5">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{product.image.url}}" alt="imagen" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <h1 class="display-4 text-center">{{product.name}}</h1>
                    <p class="text-center">{{product.description}}</p>
                    <p class="text-center">{{product.price}}</p>
                    <p class="text-center">{% if product.stock %}Con stock{% else %}Sin stock{% endif %}</p>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-primary mr-2">Añadir al carrito</a>
                        <a class="btn btn-warning mr-2" href="{% url 'update_product' product.id %}">Editar</a>
                        <a class="btn btn-danger" href="{% url 'delete_product' product.id %}">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}