{% extends 'base.html' %}

{% block title %}Lista productos{% endblock %}

{% block content %}
<style>
    .custom-card-img{
        width: 260px;
        height: 400px;
    }
    .custom-card{
        max-width: 300px;
        max-height: 600px;
        overflow: hidden;
        position: relative;

    }

</style>
<div class="container ">
    <div class="body d-flex justify-content-end">
        <div class="btn btn-light dropdown mt-3 ">
            <a class="dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categorias
            </a>
            <ul class="dropdown-menu">
                {% for category in categories %}
                <li><a class="dropdown-item"
                        href="{% url 'list_products_by_category' category.id %}">{{category.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <hr class="border border-dark border-2 opacity-50">
    {% if error %}
    <div class="body ">
        <div class="card m-5">
            <div class="card-body">
                <div class="alert text-danger text-center">
                    <h1 class="text-danger mb-5">{{error}}</h1>
                    <a href="{% url 'home_page' %}" class="btn btn-primary">Volver al inicio</a>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for product in products %}
        <div class="col">
            <a href="{% url 'detail_product' product.id %}" class="card-link"></a>
                <div class="card  mb-4 custom-card">
                    <img src={{product.image.url}} class="card-img-top custom-card-img" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.description}}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    </div>
      
</div>
{% endblock %}