{% extends 'base.html' %}

{%block title %}{{ category.name }}{% endblock %}

{% block content%}
<div class="container my-3">
    <div class="card card-row">
        <h1 class="text-center ">Productos en la categoria: {{ category.name }}</h1>
    </div>
    <div class="body d-flex justify-content-end">
        <div class="btn btn-light dropdown mt-5 justify-content-end">
            <a class="dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categorias
            </a>
            <ul class="dropdown-menu">
                {% for category in categories %}
                <li><a class="dropdown-item"
                        href="{% url 'list_products_by_category' category.id %}">{{category.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% if user.is_superuser %}
<div class="container">
    {% for product in products %}
    <div class="card mb-5">
        <div class="card-body ">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{product.image.url}}" alt="imagen" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <h1 class="display-4 text-center">{{product.name}}</h1>
                    <p class="text-center">{{product.description}}</p>
                    <p class="text-center">{{product.price}}</p>
                    <p class="text-center">{% if product.stock %}Con stock{% else %}Sin stock{% endif %}</p>
                    <p class="text-center">{{product.category}}</p>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-primary mr-2" href="{% url 'add_product' product.id %}">Añadir al carrito</a>
                        <a class="btn btn-warning mr-2" href="{% url 'update_product' product.id %}">Editar</a>
                        <a class="btn btn-danger" href="{% url 'delete_product' product.id %}">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="container">
    {% for product in products %}
    {% if product.stock %}
    <div class="card mb-5">
        <div class="card-body ">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{product.image.url}}" alt="imagen" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <h1 class="display-4 text-center">{{product.name}}</h1>
                    <p class="text-center">{{product.description}}</p>
                    <p class="text-center">{{product.price}}</p>
                    <p class="text-center">{% if product.stock %}Con stock{% else %}Sin stock{% endif %}</p>
                    <p class="text-center">{{product.category}}</p>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-primary mr-2" href="{% url 'add_product' product.id %}">Añadir al carrito</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endblock %}