{% extends 'base.html' %}

{% block title %}
Product Form
{% endblock %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 text-center mt-5">
            <form method="POST" class="card card-body">
                {% csrf_token %}
                <h1 class="text-center mb-5">Product Form</h1>
                <p class="text-danger">{{error}}</p>
                <div class="mb-3">
                    <input type="text" name="name" id="name" placeholder="Product Name" class="form-control" required
                        autofocus>
                </div>
                <div class="mb-3">
                    <textarea name="descripcion" id="descripcion" placeholder="Product Description" class="form-control"
                        required></textarea>
                </div>
                <div class="mb-3">
                    <input type="number" name="price" id="price" placeholder="Price" class="form-control" required>
                </div>
                <div class="mb-3">
                    <input type="file" name="image" id="image" class="form-control" required>
                </div>
                <div class="mb-3">
                    <select name="category" id="category" class="form-control" required>
                        {% for category in categories %}
                        <option value="{{category.id}}">{{category.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="stock">Stock Availability</label>
                    <input type="checkbox" name="stock" id="stock" placeholder="Stock Availability">
                </div>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}