{% extends 'base.html' %}

{% block title%}
Eliminar perfil
{% endblock %}

{% block content%}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form method="POST" class="card card-body">
                <h1 class="text-center mb-4">Eliminar usuario</h1>
                {% csrf_token %}
                <div class="mb-4">
                    <h4>¿Estas seguro que quieres eliminar tu perfil?</h4>
                </div>
                <input type="submit" value="Eliminar perfil"  class="btn btn-danger mb-3" href="{% url 'delete_user' %}">
                <a class="btn btn-primary" href="{% url 'user_profile' %}">Volver</a>
            </form>
        </div>
    </div>
</main>
{% endblock %}