{% extends 'layouts/home_page.html' %}

{% block title %}
Login
{% endblock %}



{% block content %}

<main class="container ">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form method="POST" class="card card-body">
                <h1 class="text-center mb-4">Iniciar sesion</h1>
                <p class="text-danger">{{error}}</p>
                {% csrf_token %}
                <div class="mb-4">
                    <input type="text" name="username" id="username" placeholder="Username" class="form-control" required autofocus>
                </div>
                
                <div class="mb-4">
                    <input type="password" name="password" id="password" placeholder="Password" class="form-control" required>
                </div>
                <button class="btn btn-primary">Iniciar sesion</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}